In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../data/raw_data.csv')

In [4]:
print(df.isnull().sum()) # Shows the count of missing values per column

ID                               0
year                             0
loan_limit                    3344
Gender                           0
approv_in_adv                  908
loan_type                        0
loan_purpose                   134
Credit_Worthiness                0
open_credit                      0
business_or_commercial           0
loan_amount                      0
rate_of_interest             36439
Interest_rate_spread         36639
Upfront_charges              39642
term                            41
Neg_ammortization              121
interest_only                    0
lump_sum_payment                 0
property_value               15098
construction_type                0
occupancy_type                   0
Secured_by                       0
total_units                      0
income                        9150
credit_type                      0
Credit_Score                     0
co-applicant_credit_type         0
age                            200
submission_of_application      200
LTV                          15098
Region                           0
Security_Type                    0
Status                           0
dtir1                        24121
dtype: int64

In [6]:
df['income'].fillna(df['income'].mean(), inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_9108\4043142764.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['income'].fillna(df['income'].mean(), inplace=True)

In [7]:
df['income']=df['income'].fillna(df['income'].mean()) # empty fill with mean value

In [8]:
print(df['income'].isna().sum()) # check the empty (NaN) rows in DataFrameâ€™s column

0

In [9]:
df = df.dropna(subset=['age']) #age have few missing values, you can remove those rows

In [10]:
print(df['age'].isna().sum())

0

In [11]:
df['LTV']=df['LTV'].fillna(df['LTV'].mean())

In [12]:
print(df['LTV'].isna().sum())

0

In [13]:
unique_values = df['Credit_Worthiness'].unique() # check the different values in the Credit_Worthiness column
print(unique_values)

['l1' 'l2']

In [14]:
df['Credit_Worthiness'] = df['Credit_Worthiness'].map({'l1': 1, 'l2': 2}) # Encode l1 as 1 and l2 as 2 in the Credit_Worthiness column

In [15]:
summary_stats = df['income'].describe()
print(summary_stats)

count    148470.000000
mean       6957.338876
std        6297.729504
min           0.000000
25%        3840.000000
50%        6000.000000
75%        8280.000000
max      578580.000000
Name: income, dtype: float64

In [17]:
Q1 = summary_stats['25%']
Q3 = summary_stats['75%']
IQR = Q3 - Q1

# Define lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Detect outliers
outliers = df[(df['income'] < lower_bound) | (df['income'] > upper_bound)]
print("Outliers detected:\n", outliers)

Outliers detected:
             ID  year loan_limit             Gender approv_in_adv loan_type  \
20       24910  2019         cf              Joint         nopre     type1
54       24944  2019         cf              Joint         nopre     type1
82       24972  2019         cf  Sex Not Available         nopre     type1
107      24997  2019         cf              Joint         nopre     type1
129      25019  2019         cf  Sex Not Available         nopre     type1
...        ...   ...        ...                ...           ...       ...
148498  173388  2019         cf              Joint         nopre     type1
148526  173416  2019        ncf              Joint         nopre     type1
148534  173424  2019         cf  Sex Not Available         nopre     type1
148600  173490  2019         cf               Male         nopre     type1
148657  173547  2019         cf              Joint         nopre     type1

       loan_purpose  Credit_Worthiness open_credit business_or_commercial  \
20               p3                  1        nopc                  nob/c
54               p1                  1        nopc                  nob/c
82               p1                  1        nopc                  nob/c
107              p1                  1        nopc                  nob/c
129              p4                  1        nopc                  nob/c
...             ...                ...         ...                    ...
148498           p1                  1        nopc                  nob/c
148526           p4                  1        nopc                  nob/c
148534           p4                  1        nopc                  nob/c
148600           p4                  1        nopc                  nob/c
148657           p4                  2        nopc                  nob/c

        ...  credit_type  Credit_Score  co-applicant_credit_type    age  \
20      ...          EXP           668                       EXP  65-74
54      ...          EXP           808                       EXP  35-44
82      ...          CIB           634                       EXP  45-54
107     ...          EXP           639                       EXP  55-64
129     ...         CRIF           815                       CIB  45-54
...     ...          ...           ...                       ...    ...
148498  ...          EXP           842                       EXP  55-64
148526  ...         CRIF           746                       EXP  35-44
148534  ...         CRIF           786                       EXP  35-44
148600  ...         CRIF           710                       CIB  55-64
148657  ...          EXP           688                       EXP  65-74

        submission_of_application        LTV   Region Security_Type  Status  \
20                        to_inst  54.928315    North        direct       0
54                       not_inst  75.061881  central        direct       0
82                        to_inst  69.258721    south        direct       0
107                      not_inst  38.520408    North        direct       0
129                      not_inst  78.674833    North        direct       0
...                           ...        ...      ...           ...     ...
148498                   not_inst  75.887574    North        direct       0
148526                   not_inst  66.737033    south        direct       0
148534                    to_inst  74.497487    south        direct       0
148600                    to_inst  23.401468    North        direct       0
148657                   not_inst  71.288210    North        direct       0

       dtir1
20       6.0
54      28.0
82      23.0
107     32.0
129     27.0
...      ...
148498  14.0
148526  39.0
148534  10.0
148600  16.0
148657  30.0

[7636 rows x 34 columns]

In [21]:
import pandas as pd

# Calculate Q1 (25th percentile) and Q3 (75th percentile)
Q1 = df['income'].quantile(0.25)
Q3 = df['income'].quantile(0.75)
IQR = Q3 - Q1

# Define lower and upper bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Remove outliers

# If you want to update the original DataFrame, use:
df = df[(df['income'] >= lower_bound) & (df['income'] <= upper_bound)]

In [22]:
Q1 = summary_stats['25%']
Q3 = summary_stats['75%']
IQR = Q3 - Q1

# Define lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Detect outliers
outliers = df[(df['income'] < lower_bound) | (df['income'] > upper_bound)]
print("Outliers detected:\n", outliers)

Outliers detected:
 Empty DataFrame
Columns: [ID, year, loan_limit, Gender, approv_in_adv, loan_type, loan_purpose, Credit_Worthiness, open_credit, business_or_commercial, loan_amount, rate_of_interest, Interest_rate_spread, Upfront_charges, term, Neg_ammortization, interest_only, lump_sum_payment, property_value, construction_type, occupancy_type, Secured_by, total_units, income, credit_type, Credit_Score, co-applicant_credit_type, age, submission_of_application, LTV, Region, Security_Type, Status, dtir1]
Index: []

[0 rows x 34 columns]

In [23]:
# Calculate Q1 (25th percentile) and Q3 (75th percentile)
Q1 = df['loan_amount'].quantile(0.25)
Q3 = df['loan_amount'].quantile(0.75)
IQR = Q3 - Q1

# Define lower and upper bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Remove outliers

# If you want to update the original DataFrame, use:
df = df[(df['loan_amount'] >= lower_bound) & (df['loan_amount'] <= upper_bound)]

In [24]:
Q1 = summary_stats['25%']
Q3 = summary_stats['75%']
IQR = Q3 - Q1

# Define lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Detect outliers
outliers = df[(df['loan_amount'] < lower_bound) | (df['loan_amount'] > upper_bound)]
print("Outliers detected:\n", outliers)

Outliers detected:
             ID  year loan_limit             Gender approv_in_adv loan_type  \
0        24890  2019         cf  Sex Not Available         nopre     type1
1        24891  2019         cf               Male         nopre     type2
2        24892  2019         cf               Male           pre     type1
3        24893  2019         cf               Male         nopre     type1
4        24894  2019         cf              Joint           pre     type1
...        ...   ...        ...                ...           ...       ...
148665  173555  2019         cf  Sex Not Available         nopre     type1
148666  173556  2019         cf               Male         nopre     type1
148667  173557  2019         cf               Male         nopre     type1
148668  173558  2019         cf             Female         nopre     type1
148669  173559  2019         cf             Female         nopre     type1

       loan_purpose  Credit_Worthiness open_credit business_or_commercial  \
0                p1                  1        nopc                  nob/c
1                p1                  1        nopc                    b/c
2                p1                  1        nopc                  nob/c
3                p4                  1        nopc                  nob/c
4                p1                  1        nopc                  nob/c
...             ...                ...         ...                    ...
148665           p3                  1        nopc                  nob/c
148666           p1                  1        nopc                  nob/c
148667           p4                  1        nopc                  nob/c
148668           p4                  1        nopc                  nob/c
148669           p3                  1        nopc                  nob/c

        ...  credit_type  Credit_Score  co-applicant_credit_type    age  \
0       ...          EXP           758                       CIB  25-34
1       ...         EQUI           552                       EXP  55-64
2       ...          EXP           834                       CIB  35-44
3       ...          EXP           587                       CIB  45-54
4       ...         CRIF           602                       EXP  25-34
...     ...          ...           ...                       ...    ...
148665  ...          CIB           659                       EXP  55-64
148666  ...          CIB           569                       CIB  25-34
148667  ...          CIB           702                       EXP  45-54
148668  ...          EXP           737                       EXP  55-64
148669  ...          CIB           830                       CIB  45-54

        submission_of_application        LTV Region Security_Type  Status  \
0                         to_inst  98.728814  south        direct       1
1                         to_inst  72.731293  North        direct       1
2                         to_inst  80.019685  south        direct       0
3                        not_inst  69.376900  North        direct       0
4                        not_inst  91.886544  North        direct       0
...                           ...        ...    ...           ...     ...
148665                    to_inst  71.792763  south        direct       0
148666                   not_inst  74.428934  south        direct       0
148667                   not_inst  61.332418  North        direct       0
148668                    to_inst  70.683453  North        direct       0
148669                   not_inst  72.849462  North        direct       0

       dtir1
0       45.0
1        NaN
2       46.0
3       42.0
4       39.0
...      ...
148665  48.0
148666  15.0
148667  49.0
148668  29.0
148669  44.0

[139769 rows x 34 columns]

In [25]:
# Calculate Q1 (25th percentile) and Q3 (75th percentile)
Q1 = df['loan_amount'].quantile(0.25)
Q3 = df['loan_amount'].quantile(0.75)
IQR = Q3 - Q1

# Define lower and upper bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Remove outliers

# If you want to update the original DataFrame, use:
df = df[(df['loan_amount'] >= lower_bound) & (df['loan_amount'] <= upper_bound)]

In [26]:
Q1 = summary_stats['25%']
Q3 = summary_stats['75%']
IQR = Q3 - Q1

# Define lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Detect outliers
outliers = df[(df['loan_amount'] < lower_bound) | (df['loan_amount'] > upper_bound)]
print("Outliers detected:\n", outliers)

Outliers detected:
             ID  year loan_limit             Gender approv_in_adv loan_type  \
0        24890  2019         cf  Sex Not Available         nopre     type1
1        24891  2019         cf               Male         nopre     type2
2        24892  2019         cf               Male           pre     type1
3        24893  2019         cf               Male         nopre     type1
4        24894  2019         cf              Joint           pre     type1
...        ...   ...        ...                ...           ...       ...
148665  173555  2019         cf  Sex Not Available         nopre     type1
148666  173556  2019         cf               Male         nopre     type1
148667  173557  2019         cf               Male         nopre     type1
148668  173558  2019         cf             Female         nopre     type1
148669  173559  2019         cf             Female         nopre     type1

       loan_purpose  Credit_Worthiness open_credit business_or_commercial  \
0                p1                  1        nopc                  nob/c
1                p1                  1        nopc                    b/c
2                p1                  1        nopc                  nob/c
3                p4                  1        nopc                  nob/c
4                p1                  1        nopc                  nob/c
...             ...                ...         ...                    ...
148665           p3                  1        nopc                  nob/c
148666           p1                  1        nopc                  nob/c
148667           p4                  1        nopc                  nob/c
148668           p4                  1        nopc                  nob/c
148669           p3                  1        nopc                  nob/c

        ...  credit_type  Credit_Score  co-applicant_credit_type    age  \
0       ...          EXP           758                       CIB  25-34
1       ...         EQUI           552                       EXP  55-64
2       ...          EXP           834                       CIB  35-44
3       ...          EXP           587                       CIB  45-54
4       ...         CRIF           602                       EXP  25-34
...     ...          ...           ...                       ...    ...
148665  ...          CIB           659                       EXP  55-64
148666  ...          CIB           569                       CIB  25-34
148667  ...          CIB           702                       EXP  45-54
148668  ...          EXP           737                       EXP  55-64
148669  ...          CIB           830                       CIB  45-54

        submission_of_application        LTV Region Security_Type  Status  \
0                         to_inst  98.728814  south        direct       1
1                         to_inst  72.731293  North        direct       1
2                         to_inst  80.019685  south        direct       0
3                        not_inst  69.376900  North        direct       0
4                        not_inst  91.886544  North        direct       0
...                           ...        ...    ...           ...     ...
148665                    to_inst  71.792763  south        direct       0
148666                   not_inst  74.428934  south        direct       0
148667                   not_inst  61.332418  North        direct       0
148668                    to_inst  70.683453  North        direct       0
148669                   not_inst  72.849462  North        direct       0

       dtir1
0       45.0
1        NaN
2       46.0
3       42.0
4       39.0
...      ...
148665  48.0
148666  15.0
148667  49.0
148668  29.0
148669  44.0

[139586 rows x 34 columns]

In [27]:
import pandas as pd
# Calculate Q1 (25th percentile) and Q3 (75th percentile)
Q1 = df['loan_amount'].quantile(0.25)
Q3 = df['loan_amount'].quantile(0.75)
IQR = Q3 - Q1

# Define lower and upper bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Remove outliers

# If you want to update the original DataFrame, use:
df = df[(df['loan_amount'] >= lower_bound) & (df['loan_amount'] <= upper_bound)]

In [28]:
Q1 = summary_stats['25%']
Q3 = summary_stats['75%']
IQR = Q3 - Q1

# Define lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Detect outliers
outliers = df[(df['loan_amount'] < lower_bound) | (df['loan_amount'] > upper_bound)]
print("Outliers detected:\n", outliers)

Outliers detected:
             ID  year loan_limit             Gender approv_in_adv loan_type  \
0        24890  2019         cf  Sex Not Available         nopre     type1
1        24891  2019         cf               Male         nopre     type2
2        24892  2019         cf               Male           pre     type1
3        24893  2019         cf               Male         nopre     type1
4        24894  2019         cf              Joint           pre     type1
...        ...   ...        ...                ...           ...       ...
148665  173555  2019         cf  Sex Not Available         nopre     type1
148666  173556  2019         cf               Male         nopre     type1
148667  173557  2019         cf               Male         nopre     type1
148668  173558  2019         cf             Female         nopre     type1
148669  173559  2019         cf             Female         nopre     type1

       loan_purpose  Credit_Worthiness open_credit business_or_commercial  \
0                p1                  1        nopc                  nob/c
1                p1                  1        nopc                    b/c
2                p1                  1        nopc                  nob/c
3                p4                  1        nopc                  nob/c
4                p1                  1        nopc                  nob/c
...             ...                ...         ...                    ...
148665           p3                  1        nopc                  nob/c
148666           p1                  1        nopc                  nob/c
148667           p4                  1        nopc                  nob/c
148668           p4                  1        nopc                  nob/c
148669           p3                  1        nopc                  nob/c

        ...  credit_type  Credit_Score  co-applicant_credit_type    age  \
0       ...          EXP           758                       CIB  25-34
1       ...         EQUI           552                       EXP  55-64
2       ...          EXP           834                       CIB  35-44
3       ...          EXP           587                       CIB  45-54
4       ...         CRIF           602                       EXP  25-34
...     ...          ...           ...                       ...    ...
148665  ...          CIB           659                       EXP  55-64
148666  ...          CIB           569                       CIB  25-34
148667  ...          CIB           702                       EXP  45-54
148668  ...          EXP           737                       EXP  55-64
148669  ...          CIB           830                       CIB  45-54

        submission_of_application        LTV Region Security_Type  Status  \
0                         to_inst  98.728814  south        direct       1
1                         to_inst  72.731293  North        direct       1
2                         to_inst  80.019685  south        direct       0
3                        not_inst  69.376900  North        direct       0
4                        not_inst  91.886544  North        direct       0
...                           ...        ...    ...           ...     ...
148665                    to_inst  71.792763  south        direct       0
148666                   not_inst  74.428934  south        direct       0
148667                   not_inst  61.332418  North        direct       0
148668                    to_inst  70.683453  North        direct       0
148669                   not_inst  72.849462  North        direct       0

       dtir1
0       45.0
1        NaN
2       46.0
3       42.0
4       39.0
...      ...
148665  48.0
148666  15.0
148667  49.0
148668  29.0
148669  44.0

[139586 rows x 34 columns]

In [29]:
print("Lower bound:", lower_bound)
print("Upper bound:", upper_bound)

# Identify outliers
outliers = df[(df['loan_amount'] < lower_bound) | (df['loan_amount'] > upper_bound)]
print("Outliers detected:\n", outliers)

Lower bound: -2820.0
Upper bound: 14940.0
Outliers detected:
             ID  year loan_limit             Gender approv_in_adv loan_type  \
0        24890  2019         cf  Sex Not Available         nopre     type1
1        24891  2019         cf               Male         nopre     type2
2        24892  2019         cf               Male           pre     type1
3        24893  2019         cf               Male         nopre     type1
4        24894  2019         cf              Joint           pre     type1
...        ...   ...        ...                ...           ...       ...
148665  173555  2019         cf  Sex Not Available         nopre     type1
148666  173556  2019         cf               Male         nopre     type1
148667  173557  2019         cf               Male         nopre     type1
148668  173558  2019         cf             Female         nopre     type1
148669  173559  2019         cf             Female         nopre     type1

       loan_purpose  Credit_Worthiness open_credit business_or_commercial  \
0                p1                  1        nopc                  nob/c
1                p1                  1        nopc                    b/c
2                p1                  1        nopc                  nob/c
3                p4                  1        nopc                  nob/c
4                p1                  1        nopc                  nob/c
...             ...                ...         ...                    ...
148665           p3                  1        nopc                  nob/c
148666           p1                  1        nopc                  nob/c
148667           p4                  1        nopc                  nob/c
148668           p4                  1        nopc                  nob/c
148669           p3                  1        nopc                  nob/c

        ...  credit_type  Credit_Score  co-applicant_credit_type    age  \
0       ...          EXP           758                       CIB  25-34
1       ...         EQUI           552                       EXP  55-64
2       ...          EXP           834                       CIB  35-44
3       ...          EXP           587                       CIB  45-54
4       ...         CRIF           602                       EXP  25-34
...     ...          ...           ...                       ...    ...
148665  ...          CIB           659                       EXP  55-64
148666  ...          CIB           569                       CIB  25-34
148667  ...          CIB           702                       EXP  45-54
148668  ...          EXP           737                       EXP  55-64
148669  ...          CIB           830                       CIB  45-54

        submission_of_application        LTV Region Security_Type  Status  \
0                         to_inst  98.728814  south        direct       1
1                         to_inst  72.731293  North        direct       1
2                         to_inst  80.019685  south        direct       0
3                        not_inst  69.376900  North        direct       0
4                        not_inst  91.886544  North        direct       0
...                           ...        ...    ...           ...     ...
148665                    to_inst  71.792763  south        direct       0
148666                   not_inst  74.428934  south        direct       0
148667                   not_inst  61.332418  North        direct       0
148668                    to_inst  70.683453  North        direct       0
148669                   not_inst  72.849462  North        direct       0

       dtir1
0       45.0
1        NaN
2       46.0
3       42.0
4       39.0
...      ...
148665  48.0
148666  15.0
148667  49.0
148668  29.0
148669  44.0

[139586 rows x 34 columns]

In [30]:
# Check the data type of 'loan_amount'
print(df['loan_amount'].dtype)

int64

In [31]:
print(df['loan_amount'].head())

0    116500
1    206500
2    406500
3    456500
4    696500
Name: loan_amount, dtype: int64

In [32]:
print("Original number of rows:", len(df))
df = df[(df['loan_amount'] >= lower_bound) & (df['loan_amount'] <= upper_bound)]
print("Number of rows after removing outliers:", len(df))

Original number of rows: 139586
Number of rows after removing outliers: 0

In [33]:
print(df['loan_amount'].head())

Series([], Name: loan_amount, dtype: int64)

In [34]:
print("Lower bound:", lower_bound)
print("Upper bound:", upper_bound)

Lower bound: -2820.0
Upper bound: 14940.0

In [35]:
print("Min loan amount:", df['loan_amount'].min())
print("Max loan amount:", df['loan_amount'].max())
print("Descriptive statistics:\n", df['loan_amount'].describe())

Min loan amount: nan
Max loan amount: nan
Descriptive statistics:
 count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: loan_amount, dtype: float64

In [37]:
df.to_csv("../data/cleaned_data.csv", index=False)