In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/raw_data.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148670 entries, 0 to 148669
Data columns (total 34 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID                         148670 non-null  int64
 1   year                       148670 non-null  int64
 2   loan_limit                 145326 non-null  object
 3   Gender                     148670 non-null  object
 4   approv_in_adv              147762 non-null  object
 5   loan_type                  148670 non-null  object
 6   loan_purpose               148536 non-null  object
 7   Credit_Worthiness          148670 non-null  object
 8   open_credit                148670 non-null  object
 9   business_or_commercial     148670 non-null  object
 10  loan_amount                148670 non-null  int64
 11  rate_of_interest           112231 non-null  float64
 12  Interest_rate_spread       112031 non-null  float64
 13  Upfront_charges            109028 non-null  float64
 14  term                       148629 non-null  float64
 15  Neg_ammortization          148549 non-null  object
 16  interest_only              148670 non-null  object
 17  lump_sum_payment           148670 non-null  object
 18  property_value             133572 non-null  float64
 19  construction_type          148670 non-null  object
 20  occupancy_type             148670 non-null  object
 21  Secured_by                 148670 non-null  object
 22  total_units                148670 non-null  object
 23  income                     139520 non-null  float64
 24  credit_type                148670 non-null  object
 25  Credit_Score               148670 non-null  int64
 26  co-applicant_credit_type   148670 non-null  object
 27  age                        148470 non-null  object
 28  submission_of_application  148470 non-null  object
 29  LTV                        133572 non-null  float64
 30  Region                     148670 non-null  object
 31  Security_Type              148670 non-null  object
 32  Status                     148670 non-null  int64
 33  dtir1                      124549 non-null  float64
dtypes: float64(8), int64(5), object(21)
memory usage: 38.6+ MB

In [4]:
df.isnull().sum()

ID                               0
year                             0
loan_limit                    3344
Gender                           0
approv_in_adv                  908
loan_type                        0
loan_purpose                   134
Credit_Worthiness                0
open_credit                      0
business_or_commercial           0
loan_amount                      0
rate_of_interest             36439
Interest_rate_spread         36639
Upfront_charges              39642
term                            41
Neg_ammortization              121
interest_only                    0
lump_sum_payment                 0
property_value               15098
construction_type                0
occupancy_type                   0
Secured_by                       0
total_units                      0
income                        9150
credit_type                      0
Credit_Score                     0
co-applicant_credit_type         0
age                            200
submission_of_application      200
LTV                          15098
Region                           0
Security_Type                    0
Status                           0
dtir1                        24121
dtype: int64

In [5]:
df.isnull().sum()

ID                               0
year                             0
loan_limit                    3344
Gender                           0
approv_in_adv                  908
loan_type                        0
loan_purpose                   134
Credit_Worthiness                0
open_credit                      0
business_or_commercial           0
loan_amount                      0
rate_of_interest             36439
Interest_rate_spread         36639
Upfront_charges              39642
term                            41
Neg_ammortization              121
interest_only                    0
lump_sum_payment                 0
property_value               15098
construction_type                0
occupancy_type                   0
Secured_by                       0
total_units                      0
income                        9150
credit_type                      0
Credit_Score                     0
co-applicant_credit_type         0
age                            200
submission_of_application      200
LTV                          15098
Region                           0
Security_Type                    0
Status                           0
dtir1                        24121
dtype: int64

In [10]:
df['income'].fillna(df['income'].mean(), inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_15372\695856698.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['income'].fillna(df['income'].mean(), inplace=True)

In [11]:
df['income'] = df['income'].fillna(df['income'].mean())

In [12]:
df.isnull().sum()

ID                                0
year                              0
loan_limit                     3344
Gender                            0
approv_in_adv                   908
loan_type                         0
loan_purpose                    134
Credit_Worthiness                 0
open_credit                       0
business_or_commercial            0
loan_amount                       0
rate_of_interest              36439
Interest_rate_spread          36639
Upfront_charges               39642
term                             41
Neg_ammortization               121
interest_only                     0
lump_sum_payment                  0
property_value                15098
construction_type                 0
occupancy_type                    0
Secured_by                        0
total_units                       0
income                       148670
credit_type                       0
Credit_Score                      0
co-applicant_credit_type          0
age                             200
submission_of_application       200
LTV                           15098
Region                            0
Security_Type                     0
Status                            0
dtir1                         24121
dtype: int64

In [13]:
df = pd.read_csv("../data/raw_data.csv")

In [14]:
df.isnull().sum()

ID                               0
year                             0
loan_limit                    3344
Gender                           0
approv_in_adv                  908
loan_type                        0
loan_purpose                   134
Credit_Worthiness                0
open_credit                      0
business_or_commercial           0
loan_amount                      0
rate_of_interest             36439
Interest_rate_spread         36639
Upfront_charges              39642
term                            41
Neg_ammortization              121
interest_only                    0
lump_sum_payment                 0
property_value               15098
construction_type                0
occupancy_type                   0
Secured_by                       0
total_units                      0
income                        9150
credit_type                      0
Credit_Score                     0
co-applicant_credit_type         0
age                            200
submission_of_application      200
LTV                          15098
Region                           0
Security_Type                    0
Status                           0
dtir1                        24121
dtype: int64

In [15]:
df['income']=df['income'].fillna(df['income'].mean())

In [16]:
df.isnull().sum()

ID                               0
year                             0
loan_limit                    3344
Gender                           0
approv_in_adv                  908
loan_type                        0
loan_purpose                   134
Credit_Worthiness                0
open_credit                      0
business_or_commercial           0
loan_amount                      0
rate_of_interest             36439
Interest_rate_spread         36639
Upfront_charges              39642
term                            41
Neg_ammortization              121
interest_only                    0
lump_sum_payment                 0
property_value               15098
construction_type                0
occupancy_type                   0
Secured_by                       0
total_units                      0
income                           0
credit_type                      0
Credit_Score                     0
co-applicant_credit_type         0
age                            200
submission_of_application      200
LTV                          15098
Region                           0
Security_Type                    0
Status                           0
dtir1                        24121
dtype: int64

In [17]:
import pandas as pd

# Calculate Q1 (25th percentile) and Q3 (75th percentile)
Q1 = df['income'].quantile(0.25)
Q3 = df['income'].quantile(0.75)
IQR = Q3 - Q1

# Define bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filter out outliers
df1 = df[(df['income'] >= lower_bound) & (df['income'] <= upper_bound)]

In [18]:
df1.isnull().sum()

ID                               0
year                             0
loan_limit                    3207
Gender                           0
approv_in_adv                  857
loan_type                        0
loan_purpose                   128
Credit_Worthiness                0
open_credit                      0
business_or_commercial           0
loan_amount                      0
rate_of_interest             34727
Interest_rate_spread         34927
Upfront_charges              37715
term                            37
Neg_ammortization              114
interest_only                    0
lump_sum_payment                 0
property_value               14287
construction_type                0
occupancy_type                   0
Secured_by                       0
total_units                      0
income                           0
credit_type                      0
Credit_Score                     0
co-applicant_credit_type         0
age                            200
submission_of_application      200
LTV                          14287
Region                           0
Security_Type                    0
Status                           0
dtir1                        23310
dtype: int64

In [19]:
# Remove rows with missing values in a specific column, e.g., 'income'
df2 = df.dropna(subset=['age'])

In [20]:
df2.isnull().sum()

ID                               0
year                             0
loan_limit                    3332
Gender                           0
approv_in_adv                  908
loan_type                        0
loan_purpose                   126
Credit_Worthiness                0
open_credit                      0
business_or_commercial           0
loan_amount                      0
rate_of_interest             36439
Interest_rate_spread         36439
Upfront_charges              39595
term                            41
Neg_ammortization              121
interest_only                    0
lump_sum_payment                 0
property_value               15098
construction_type                0
occupancy_type                   0
Secured_by                       0
total_units                      0
income                           0
credit_type                      0
Credit_Score                     0
co-applicant_credit_type         0
age                              0
submission_of_application        0
LTV                          15098
Region                           0
Security_Type                    0
Status                           0
dtir1                        23921
dtype: int64

In [21]:
df3=df2.copy()

In [22]:
df2['Credit_Worthiness']=df2['Credit_Worthiness'].replace({'l1': 1, 'l2': 2})

C:\Users\DELL\AppData\Local\Temp\ipykernel_15372\1032284073.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2['Credit_Worthiness']=df2['Credit_Worthiness'].replace({'l1': 1, 'l2': 2})
C:\Users\DELL\AppData\Local\Temp\ipykernel_15372\1032284073.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Credit_Worthiness']=df2['Credit_Worthiness'].replace({'l1': 1, 'l2': 2})

In [23]:
df2.isnull().sum()

ID                               0
year                             0
loan_limit                    3332
Gender                           0
approv_in_adv                  908
loan_type                        0
loan_purpose                   126
Credit_Worthiness                0
open_credit                      0
business_or_commercial           0
loan_amount                      0
rate_of_interest             36439
Interest_rate_spread         36439
Upfront_charges              39595
term                            41
Neg_ammortization              121
interest_only                    0
lump_sum_payment                 0
property_value               15098
construction_type                0
occupancy_type                   0
Secured_by                       0
total_units                      0
income                           0
credit_type                      0
Credit_Score                     0
co-applicant_credit_type         0
age                              0
submission_of_application        0
LTV                          15098
Region                           0
Security_Type                    0
Status                           0
dtir1                        23921
dtype: int64

In [24]:
df3.isnull().sum()

ID                               0
year                             0
loan_limit                    3332
Gender                           0
approv_in_adv                  908
loan_type                        0
loan_purpose                   126
Credit_Worthiness                0
open_credit                      0
business_or_commercial           0
loan_amount                      0
rate_of_interest             36439
Interest_rate_spread         36439
Upfront_charges              39595
term                            41
Neg_ammortization              121
interest_only                    0
lump_sum_payment                 0
property_value               15098
construction_type                0
occupancy_type                   0
Secured_by                       0
total_units                      0
income                           0
credit_type                      0
Credit_Score                     0
co-applicant_credit_type         0
age                              0
submission_of_application        0
LTV                          15098
Region                           0
Security_Type                    0
Status                           0
dtir1                        23921
dtype: int64

In [25]:
df2['Credit_Worthiness']=df2['Credit_Worthiness'].replace({'l1': 1, 'l2': 2}, inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_15372\3707173016.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['Credit_Worthiness']=df2['Credit_Worthiness'].replace({'l1': 1, 'l2': 2}, inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_15372\3707173016.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Credit_Worthiness']=df2['Credit_Worthiness'].replace({'l1': 1, 'l2': 2}, inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_15372\3707173016.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Credit_Worthiness']=df2['Credit_Worthiness'].replace({'l1': 1, 'l2': 2}, inplace=True)

In [26]:
# Correct approach without inplace=True and using .loc to avoid warnings
df2.loc[:, 'Credit_Worthiness'] = df2['Credit_Worthiness'].replace({'l1': 1, 'l2': 2})

In [27]:
# Check unique values in the 'column_name' column
unique_values = df2['Credit_Worthiness'].unique()
print(unique_values)

[None]

In [30]:
# Number of rows in the 'column_name' column
num_rows = len(df3['Credit_Worthiness'])
print(num_rows)

148470

In [31]:
df4=df3.copy()

In [32]:
df4.isnull().sum()

ID                               0
year                             0
loan_limit                    3332
Gender                           0
approv_in_adv                  908
loan_type                        0
loan_purpose                   126
Credit_Worthiness                0
open_credit                      0
business_or_commercial           0
loan_amount                      0
rate_of_interest             36439
Interest_rate_spread         36439
Upfront_charges              39595
term                            41
Neg_ammortization              121
interest_only                    0
lump_sum_payment                 0
property_value               15098
construction_type                0
occupancy_type                   0
Secured_by                       0
total_units                      0
income                           0
credit_type                      0
Credit_Score                     0
co-applicant_credit_type         0
age                              0
submission_of_application        0
LTV                          15098
Region                           0
Security_Type                    0
Status                           0
dtir1                        23921
dtype: int64

In [33]:
num_rows = len(df2['Credit_Worthiness'])
print(num_rows)

148470

In [34]:
unique_values = df3['Credit_Worthiness'].unique()
print(unique_values)

['l1' 'l2']

In [35]:
df3['LTV']=df3['LTV'].fillna(df3['LTV'].mean())

In [36]:
df3.isnull().sum()

ID                               0
year                             0
loan_limit                    3332
Gender                           0
approv_in_adv                  908
loan_type                        0
loan_purpose                   126
Credit_Worthiness                0
open_credit                      0
business_or_commercial           0
loan_amount                      0
rate_of_interest             36439
Interest_rate_spread         36439
Upfront_charges              39595
term                            41
Neg_ammortization              121
interest_only                    0
lump_sum_payment                 0
property_value               15098
construction_type                0
occupancy_type                   0
Secured_by                       0
total_units                      0
income                           0
credit_type                      0
Credit_Score                     0
co-applicant_credit_type         0
age                              0
submission_of_application        0
LTV                              0
Region                           0
Security_Type                    0
Status                           0
dtir1                        23921
dtype: int64

In [37]:
summary_stats = df3['income'].describe()
print(summary_stats)

count    148470.000000
mean       6957.338876
std        6297.729504
min           0.000000
25%        3840.000000
50%        6000.000000
75%        8280.000000
max      578580.000000
Name: income, dtype: float64

In [39]:
Q1 = summary_stats['25%']
Q3 = summary_stats['75%']
IQR = Q3 - Q1

# Define lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Detect outliers
outliers = df3[(df3['income'] < lower_bound) | (df3['income'] > upper_bound)]
print("Outliers detected:\n", outliers)

Outliers detected:
             ID  year loan_limit             Gender approv_in_adv loan_type  \
20       24910  2019         cf              Joint         nopre     type1
54       24944  2019         cf              Joint         nopre     type1
82       24972  2019         cf  Sex Not Available         nopre     type1
107      24997  2019         cf              Joint         nopre     type1
129      25019  2019         cf  Sex Not Available         nopre     type1
...        ...   ...        ...                ...           ...       ...
148498  173388  2019         cf              Joint         nopre     type1
148526  173416  2019        ncf              Joint         nopre     type1
148534  173424  2019         cf  Sex Not Available         nopre     type1
148600  173490  2019         cf               Male         nopre     type1
148657  173547  2019         cf              Joint         nopre     type1

       loan_purpose Credit_Worthiness open_credit business_or_commercial  ...  \
20               p3                l1        nopc                  nob/c  ...
54               p1                l1        nopc                  nob/c  ...
82               p1                l1        nopc                  nob/c  ...
107              p1                l1        nopc                  nob/c  ...
129              p4                l1        nopc                  nob/c  ...
...             ...               ...         ...                    ...  ...
148498           p1                l1        nopc                  nob/c  ...
148526           p4                l1        nopc                  nob/c  ...
148534           p4                l1        nopc                  nob/c  ...
148600           p4                l1        nopc                  nob/c  ...
148657           p4                l2        nopc                  nob/c  ...

        credit_type  Credit_Score  co-applicant_credit_type    age  \
20              EXP           668                       EXP  65-74
54              EXP           808                       EXP  35-44
82              CIB           634                       EXP  45-54
107             EXP           639                       EXP  55-64
129            CRIF           815                       CIB  45-54
...             ...           ...                       ...    ...
148498          EXP           842                       EXP  55-64
148526         CRIF           746                       EXP  35-44
148534         CRIF           786                       EXP  35-44
148600         CRIF           710                       CIB  55-64
148657          EXP           688                       EXP  65-74

        submission_of_application        LTV   Region Security_Type  Status  \
20                        to_inst  54.928315    North        direct       0
54                       not_inst  75.061881  central        direct       0
82                        to_inst  69.258721    south        direct       0
107                      not_inst  38.520408    North        direct       0
129                      not_inst  78.674833    North        direct       0
...                           ...        ...      ...           ...     ...
148498                   not_inst  75.887574    North        direct       0
148526                   not_inst  66.737033    south        direct       0
148534                    to_inst  74.497487    south        direct       0
148600                    to_inst  23.401468    North        direct       0
148657                   not_inst  71.288210    North        direct       0

       dtir1
20       6.0
54      28.0
82      23.0
107     32.0
129     27.0
...      ...
148498  14.0
148526  39.0
148534  10.0
148600  16.0
148657  30.0

[7636 rows x 34 columns]

In [41]:
# Calculate Q1 (25th percentile) and Q3 (75th percentile)
Q1 = df3['income'].quantile(0.25)
Q3 = df3['income'].quantile(0.75)
IQR = Q3 - Q1

# Define lower and upper bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Remove outliers

# If you want to update the original DataFrame, use:
df_income = df3[(df3['income'] >= lower_bound) & (df3['income'] <= upper_bound)]

In [42]:
Q1 = summary_stats['25%']
Q3 = summary_stats['75%']
IQR = Q3 - Q1

# Define lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Detect outliers
outliers = df_income[(df_income['income'] < lower_bound) | (df_income['income'] > upper_bound)]
print("Outliers detected:\n", outliers)

Outliers detected:
 Empty DataFrame
Columns: [ID, year, loan_limit, Gender, approv_in_adv, loan_type, loan_purpose, Credit_Worthiness, open_credit, business_or_commercial, loan_amount, rate_of_interest, Interest_rate_spread, Upfront_charges, term, Neg_ammortization, interest_only, lump_sum_payment, property_value, construction_type, occupancy_type, Secured_by, total_units, income, credit_type, Credit_Score, co-applicant_credit_type, age, submission_of_application, LTV, Region, Security_Type, Status, dtir1]
Index: []

[0 rows x 34 columns]

In [43]:
summary_stats = df_income['income'].describe()
print(summary_stats)

count    140834.000000
mean       6070.810621
std        3017.683099
min           0.000000
25%        3720.000000
50%        5760.000000
75%        7740.000000
max       14940.000000
Name: income, dtype: float64

In [44]:
df_income.isnull().sum()

ID                               0
year                             0
loan_limit                    3195
Gender                           0
approv_in_adv                  857
loan_type                        0
loan_purpose                   120
Credit_Worthiness                0
open_credit                      0
business_or_commercial           0
loan_amount                      0
rate_of_interest             34727
Interest_rate_spread         34727
Upfront_charges              37668
term                            37
Neg_ammortization              114
interest_only                    0
lump_sum_payment                 0
property_value               14287
construction_type                0
occupancy_type                   0
Secured_by                       0
total_units                      0
income                           0
credit_type                      0
Credit_Score                     0
co-applicant_credit_type         0
age                              0
submission_of_application        0
LTV                              0
Region                           0
Security_Type                    0
Status                           0
dtir1                        23110
dtype: int64

In [45]:
Q1 = summary_stats['25%']
Q3 = summary_stats['75%']
IQR = Q3 - Q1

# Define lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Detect outliers
outliers = df_income[(df_income['LTV'] < lower_bound) | (df_income['LTV'] > upper_bound)]
print("Outliers detected:\n", outliers)

Outliers detected:
 Empty DataFrame
Columns: [ID, year, loan_limit, Gender, approv_in_adv, loan_type, loan_purpose, Credit_Worthiness, open_credit, business_or_commercial, loan_amount, rate_of_interest, Interest_rate_spread, Upfront_charges, term, Neg_ammortization, interest_only, lump_sum_payment, property_value, construction_type, occupancy_type, Secured_by, total_units, income, credit_type, Credit_Score, co-applicant_credit_type, age, submission_of_application, LTV, Region, Security_Type, Status, dtir1]
Index: []

[0 rows x 34 columns]

In [46]:
df_ltv=df_income.copy()

In [48]:
df_ltv.head()

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,24890,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,...,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.0
1,24891,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,...,EQUI,552,EXP,55-64,to_inst,72.731293,North,direct,1,NaN
2,24892,2019,cf,Male,pre,type1,p1,l1,nopc,nob/c,...,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
3,24893,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,EXP,587,CIB,45-54,not_inst,69.376900,North,direct,0,42.0
4,24894,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.0

In [49]:
Q1 = summary_stats['25%']
Q3 = summary_stats['75%']
IQR = Q3 - Q1

# Define lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Detect outliers
outliers = df_ltv[(df_ltv['Credit_Score'] < lower_bound) | (df_ltv['Credit_Score'] > upper_bound)]
print("Outliers detected:\n", outliers)

Outliers detected:
 Empty DataFrame
Columns: [ID, year, loan_limit, Gender, approv_in_adv, loan_type, loan_purpose, Credit_Worthiness, open_credit, business_or_commercial, loan_amount, rate_of_interest, Interest_rate_spread, Upfront_charges, term, Neg_ammortization, interest_only, lump_sum_payment, property_value, construction_type, occupancy_type, Secured_by, total_units, income, credit_type, Credit_Score, co-applicant_credit_type, age, submission_of_application, LTV, Region, Security_Type, Status, dtir1]
Index: []

[0 rows x 34 columns]

In [50]:
df_Credit_Score=df_ltv.copy()

In [52]:
df_Credit_Score.head()

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,24890,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,...,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.0
1,24891,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,...,EQUI,552,EXP,55-64,to_inst,72.731293,North,direct,1,NaN
2,24892,2019,cf,Male,pre,type1,p1,l1,nopc,nob/c,...,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
3,24893,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,EXP,587,CIB,45-54,not_inst,69.376900,North,direct,0,42.0
4,24894,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.0

In [53]:
Q1 = summary_stats['25%']
Q3 = summary_stats['75%']
IQR = Q3 - Q1

# Define lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Detect outliers
outliers = df_Credit_Score[(df_Credit_Score['loan_amount'] < lower_bound) | (df_Credit_Score['loan_amount'] > upper_bound)]
print("Outliers detected:\n", outliers)

Outliers detected:
             ID  year loan_limit             Gender approv_in_adv loan_type  \
0        24890  2019         cf  Sex Not Available         nopre     type1
1        24891  2019         cf               Male         nopre     type2
2        24892  2019         cf               Male           pre     type1
3        24893  2019         cf               Male         nopre     type1
4        24894  2019         cf              Joint           pre     type1
...        ...   ...        ...                ...           ...       ...
148665  173555  2019         cf  Sex Not Available         nopre     type1
148666  173556  2019         cf               Male         nopre     type1
148667  173557  2019         cf               Male         nopre     type1
148668  173558  2019         cf             Female         nopre     type1
148669  173559  2019         cf             Female         nopre     type1

       loan_purpose Credit_Worthiness open_credit business_or_commercial  ...  \
0                p1                l1        nopc                  nob/c  ...
1                p1                l1        nopc                    b/c  ...
2                p1                l1        nopc                  nob/c  ...
3                p4                l1        nopc                  nob/c  ...
4                p1                l1        nopc                  nob/c  ...
...             ...               ...         ...                    ...  ...
148665           p3                l1        nopc                  nob/c  ...
148666           p1                l1        nopc                  nob/c  ...
148667           p4                l1        nopc                  nob/c  ...
148668           p4                l1        nopc                  nob/c  ...
148669           p3                l1        nopc                  nob/c  ...

        credit_type  Credit_Score  co-applicant_credit_type    age  \
0               EXP           758                       CIB  25-34
1              EQUI           552                       EXP  55-64
2               EXP           834                       CIB  35-44
3               EXP           587                       CIB  45-54
4              CRIF           602                       EXP  25-34
...             ...           ...                       ...    ...
148665          CIB           659                       EXP  55-64
148666          CIB           569                       CIB  25-34
148667          CIB           702                       EXP  45-54
148668          EXP           737                       EXP  55-64
148669          CIB           830                       CIB  45-54

        submission_of_application        LTV Region Security_Type  Status  \
0                         to_inst  98.728814  south        direct       1
1                         to_inst  72.731293  North        direct       1
2                         to_inst  80.019685  south        direct       0
3                        not_inst  69.376900  North        direct       0
4                        not_inst  91.886544  North        direct       0
...                           ...        ...    ...           ...     ...
148665                    to_inst  71.792763  south        direct       0
148666                   not_inst  74.428934  south        direct       0
148667                   not_inst  61.332418  North        direct       0
148668                    to_inst  70.683453  North        direct       0
148669                   not_inst  72.849462  North        direct       0

       dtir1
0       45.0
1        NaN
2       46.0
3       42.0
4       39.0
...      ...
148665  48.0
148666  15.0
148667  49.0
148668  29.0
148669  44.0

[140834 rows x 34 columns]

In [54]:
# Calculate Q1 (25th percentile) and Q3 (75th percentile)
Q1 = df_Credit_Score['loan_amount'].quantile(0.25)
Q3 = df_Credit_Score['loan_amount'].quantile(0.75)
IQR = Q3 - Q1

# Define lower and upper bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Remove outliers

# If you want to update the original DataFrame, use:
df_income = df_Credit_Score[(df_Credit_Score['loan_amount'] >= lower_bound) & (df_Credit_Score['loan_amount'] <= upper_bound)]

In [55]:
Q1 = summary_stats['25%']
Q3 = summary_stats['75%']
IQR = Q3 - Q1

# Define lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Detect outliers
outliers = df_Credit_Score[(df_Credit_Score['loan_amount'] < lower_bound) | (df_Credit_Score['loan_amount'] > upper_bound)]
print("Outliers detected:\n", outliers)

Outliers detected:
             ID  year loan_limit             Gender approv_in_adv loan_type  \
0        24890  2019         cf  Sex Not Available         nopre     type1
1        24891  2019         cf               Male         nopre     type2
2        24892  2019         cf               Male           pre     type1
3        24893  2019         cf               Male         nopre     type1
4        24894  2019         cf              Joint           pre     type1
...        ...   ...        ...                ...           ...       ...
148665  173555  2019         cf  Sex Not Available         nopre     type1
148666  173556  2019         cf               Male         nopre     type1
148667  173557  2019         cf               Male         nopre     type1
148668  173558  2019         cf             Female         nopre     type1
148669  173559  2019         cf             Female         nopre     type1

       loan_purpose Credit_Worthiness open_credit business_or_commercial  ...  \
0                p1                l1        nopc                  nob/c  ...
1                p1                l1        nopc                    b/c  ...
2                p1                l1        nopc                  nob/c  ...
3                p4                l1        nopc                  nob/c  ...
4                p1                l1        nopc                  nob/c  ...
...             ...               ...         ...                    ...  ...
148665           p3                l1        nopc                  nob/c  ...
148666           p1                l1        nopc                  nob/c  ...
148667           p4                l1        nopc                  nob/c  ...
148668           p4                l1        nopc                  nob/c  ...
148669           p3                l1        nopc                  nob/c  ...

        credit_type  Credit_Score  co-applicant_credit_type    age  \
0               EXP           758                       CIB  25-34
1              EQUI           552                       EXP  55-64
2               EXP           834                       CIB  35-44
3               EXP           587                       CIB  45-54
4              CRIF           602                       EXP  25-34
...             ...           ...                       ...    ...
148665          CIB           659                       EXP  55-64
148666          CIB           569                       CIB  25-34
148667          CIB           702                       EXP  45-54
148668          EXP           737                       EXP  55-64
148669          CIB           830                       CIB  45-54

        submission_of_application        LTV Region Security_Type  Status  \
0                         to_inst  98.728814  south        direct       1
1                         to_inst  72.731293  North        direct       1
2                         to_inst  80.019685  south        direct       0
3                        not_inst  69.376900  North        direct       0
4                        not_inst  91.886544  North        direct       0
...                           ...        ...    ...           ...     ...
148665                    to_inst  71.792763  south        direct       0
148666                   not_inst  74.428934  south        direct       0
148667                   not_inst  61.332418  North        direct       0
148668                    to_inst  70.683453  North        direct       0
148669                   not_inst  72.849462  North        direct       0

       dtir1
0       45.0
1        NaN
2       46.0
3       42.0
4       39.0
...      ...
148665  48.0
148666  15.0
148667  49.0
148668  29.0
148669  44.0

[140834 rows x 34 columns]

In [56]:
df_Credit_Score.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140834 entries, 0 to 148669
Data columns (total 34 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ID                         140834 non-null  int64
 1   year                       140834 non-null  int64
 2   loan_limit                 137639 non-null  object
 3   Gender                     140834 non-null  object
 4   approv_in_adv              139977 non-null  object
 5   loan_type                  140834 non-null  object
 6   loan_purpose               140714 non-null  object
 7   Credit_Worthiness          140834 non-null  object
 8   open_credit                140834 non-null  object
 9   business_or_commercial     140834 non-null  object
 10  loan_amount                140834 non-null  int64
 11  rate_of_interest           106107 non-null  float64
 12  Interest_rate_spread       106107 non-null  float64
 13  Upfront_charges            103166 non-null  float64
 14  term                       140797 non-null  float64
 15  Neg_ammortization          140720 non-null  object
 16  interest_only              140834 non-null  object
 17  lump_sum_payment           140834 non-null  object
 18  property_value             126547 non-null  float64
 19  construction_type          140834 non-null  object
 20  occupancy_type             140834 non-null  object
 21  Secured_by                 140834 non-null  object
 22  total_units                140834 non-null  object
 23  income                     140834 non-null  float64
 24  credit_type                140834 non-null  object
 25  Credit_Score               140834 non-null  int64
 26  co-applicant_credit_type   140834 non-null  object
 27  age                        140834 non-null  object
 28  submission_of_application  140834 non-null  object
 29  LTV                        140834 non-null  float64
 30  Region                     140834 non-null  object
 31  Security_Type              140834 non-null  object
 32  Status                     140834 non-null  int64
 33  dtir1                      117724 non-null  float64
dtypes: float64(8), int64(5), object(21)
memory usage: 37.6+ MB

In [57]:
df_Credit_Score.to_csv('cleaned.csv', index=False)